<body>
  <h1>Stock Management</h1>
  <ul id="UL">
    <li id="L"><a href="#">Product Management</a></li>
    <li id="L"><a href="#">Purchase Management</a></li>
    <li id="L"><a href="#">Report</a></li>
    <li id="L"><a href="#">About</a></li>
  </ul>
  <br>
  <ng-container>
    <h2>Product Management</h2>
    <label>Product Name</label>
    <input type="text" [(ngModel)]="fname" placeholder="Enter fruit name">
    <br><br>
    <label>Product Price</label>
    <input type="number" [(ngModel)]="fprice" placeholder="Enter fruit price">
    <br><br>
    <button (click)="addProduct()">Add Product</button>
    <br><br>
    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let x of product; let i = index">
        <td>{{x.name}}</td>
        <td>{{x.price}}</td>
        <td>{{x.quant}}</td>
        <td><button (click)="delete(i)">Delete</button></td>
      </tr>
    </table>
  </ng-container>
  <ng-container>
    <h2>Sales Management</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
      </tr>
      <tr *ngFor="let x of product">
        <td>{{x.name}}</td>
        <td>{{x.quant}}</td>
      </tr>
    </table>
    <br><br>
    <label>Product Name</label>
    <input type="text" [(ngModel)]="pname" placeholder="name">
    <br><br>
    <label>Product Sales</label>
    <input type="number" [(ngModel)]='sales' placeholder="sales" min="4" max="50">
    <br><br>
    <button (click)='addSales()'>Sales</button>
    <br><br>
    <table>
      <tr>
        <th>Name</th>
        <th>Sales Quantity</th>
        <th>Remaining Quantity</th>
      </tr>
      <tr *ngFor='let p of Sales'>
        <td>{{p.name}}</td>
        <td>{{p.out}}</td>
        <td>{{p.in-p.out}}</td>
      </tr>
    </table>
  </ng-container>
  <ng-container>
    <h2>Report Product Details</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Remaining Quantity</th>
      </tr>
      <tr *ngFor='let p of Sales'>
        <td>{{p.name}}</td>
        <td>{{p.in-p.out}}</td>
      </tr>
    </table>
    <br><br>
    <label>Product Name</label>
    <input type="text" [(ngModel)]="rname" placeholder="name">
    <br><br>
    <label>Quantity Received</label>
    <input type="number" [(ngModel)]="received" placeholder="received">
    <br><br>
    <label>Quantity On Hand</label>
    <input type="number" [(ngModel)]="hand" placeholder="quant in Hand">
    <br><br>
    <button (click)='addReport()'>Add Report</button>
    <br><br>
    <div class="p">
      <p *ngFor='let r of report'>{{r.Received}} {{r.name}} is received and total quantity is {{r.Total}}.</p>
    </div>
  </ng-container>
  <router-outlet></router-outlet>
</body>