<body>
  <h1>Stock Management</h1>
  <ul id="UL">
    <li id="L"><a href="#">Product Management</a></li>
    <li id="L"><a href="#">Purchase Management</a></li>
    <li id="L"><a href="#">Report</a></li>
    <li id="L"><a href="#">About</a></li>
  </ul>
  <br>
  <h2>Product Management</h2>
  <label>Product Name</label>
  <input type="text" [(ngModel)]="fname" placeholder="Enter fruit name">
  <br><br>
  <label>Product Price</label>
  <input type="number" [(ngModel)]="fprice" placeholder="Enter fruit price">
  <br><br>
  <label>Product Quantity</label>
  <input type="number" [(ngModel)]="fquant" placeholder="Enter fruit quantity">
  <br><br>
  <button (click)="addProduct()">Add Product</button>
  <br><br>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let q of product; let i = index">
      <td>{{q.name}}</td>
      <td>{{q.price}}</td>
      <td>{{q.quant}}</td>
      <td><button (click)="delete(i)">Delete</button></td>
    </tr>
  </table>
  <h2>Purchase Management</h2>
  <div>
    <label>Product Name</label>
    <input type="text" [(ngModel)]="fname" placeholder="Enter fruit name">
    <br><br>
    <label>Purchase Quantity</label>
    <input type="number" [(ngModel)]="fpurchase" max="30">
    <br><br>
    <button (click)="addPurchase()">Purchase</button>
  </div>
  <p *ngFor="let q of purchase">{{q.out}} {{q.name}} is purchasing...</p>

  <h2>Report Product Details</h2>
  <div id="product">
    <label>Product Name</label>
    <input type="text" [(ngModel)]="fname" placeholder="Enter fruit name">
    <br><br>
    <label>Quantity Received</label>
    <input type="number" [(ngModel)]="freceived">
    <br><br>
  </div>
  <button (click)="addReport()">Add</button>
  <br>
  <p *ngFor="let q of report">{{q.received}} {{q.name}} is received...</p>
  <router-outlet></router-outlet>
</body>